data/raw/
data/processed/
__pycache__/
*.pyc
.venv/
.pytest_cache/
results/log_app.txt
tools/video/frames/
tools/video/audio/
tools/video/check/
tools/video/SepsisShield_demo.mp4
tools/video/intro_frames/
tools/video/intro.mp4
tools/video/intro_audio.wav
tools/video/main_no_intro.mp4
tools/video/SepsisShield_demo_with_intro.mp4
tools/video/*.png
tools/video/intro_frames_nocap/
tools/video/intro_band.mp4
tools/video/*.log
